<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>143625393681-h0bgprf5fh7560iqebhqv39au478uco9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.143625393681-h0bgprf5fh7560iqebhqv39au478uco9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>143625393681-4t7dc0h0rhf8rmujs0r27m83q3t4kmqt.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBTnkS9w_SEcAFV-Ms9yHv-fM34Bsa5R-4</string>
	<key>GCM_SENDER_ID</key>
	<string>143625393681</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.wiredbraincoffee.app</string>
	<key>PROJECT_ID</key>
	<string>wiredbraincoffee-a1386</string>
	<key>STORAGE_BUCKET</key>
	<string>wiredbraincoffee-a1386.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:143625393681:ios:08a0eee24aaf0ec62343b0</string>
</dict>
</plist>